/* header nav li:first-of-type {
  color: var(--decoration-blue);
  text-decoration: underline;
  text-decoration-style: wavy;
} */
main.portfolio p > a {
  padding: 0;
}
main.portfolio p > a:hover {
  text-decoration: wavy underline;
}
main.portfolio {
  display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/*over mijn portfolio*/
main.portfolio section {
  /* width: 90vw; */
  position: relative;
  list-style-type: none;
  padding-left: 0;
  display: grid;
  gap: 2em;
  justify-items: start;
  justify-content: center;
  max-width: 35em;
}
main.portfolio section * {
  grid-area: 1/1;
  padding-bottom: 0;
  /* padding: 1.5em; */
  width: 90vw;
  max-width: 33em;
}
main.portfolio section h2 {
  width: max-content;
  padding: 0;
  height: fit-content;
  margin-top: 0;
  max-width: 33em;
}
main.portfolio section p {
  padding-top: 4em;
  margin-bottom: 5em;
}

/*background image top*/
main.portfolio section img {
  position: absolute;
  z-index: -1;
  top: -10vh;
  height: 80vh;
  right: -60vw;
  max-width: none;
}

/*background image bottom*/
main.portfolio ul > img {
  position: absolute;
  z-index: -1;
  bottom: 0;
  height: 100vh;
  left: -100vw;
}
/*tegeltjes*/
main.portfolio ul {
  position: relative;
  list-style-type: none;
  padding-left: 0;
  display: grid;
  gap: 2em;
  justify-items: center;
  justify-content: center;
  margin-top: 2em;
}
main.portfolio ul li {
  border: 0.3em solid var(--decoration-blue);
  border-radius: 2em;
  padding: 1.5em;
  width: 90vw;
  max-width: 35em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* min-height: 25em; */
  /* background-color: var(--background-black); */
  position: relative;
}

main.portfolio ul li:hover::before {
  filter: drop-shadow(0 0 0.2em var(--decoration-blue))
          drop-shadow(0 0 0.25em var(--decoration-blue))
          drop-shadow(0 0 0.3em var(--decoration-blue));
  animation: flickering 0.3s 1s infinite;
}
@keyframes flickering {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

main.portfolio ul li::before {
  content: "";
  border: 0.3em solid var(--decoration-blue);
  border-radius: 2em;
  width: 90vw;
  max-width: 35em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-height: 25em; */
  height: 103.5%;
  position: absolute;
  margin-left: -1.8em;
  margin-top: -1.8em;
  filter: drop-shadow(0 0 0.1em var(--decoration-blue))
    drop-shadow(0 0 0.15em var(--decoration-blue));
}

main.portfolio ul li img {
    height: 24em;
}

main.portfolio ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15em;
  overflow: hidden;
  z-index: 1;
}

@media (min-width: 39em) {
    main.portfolio ul li::before {
        height: 102.8%;
      }

/*background image top*/
main.portfolio section img {
  top: -20vh;
  height: 100vh;
  right: -70vw;
  width: auto;
}

/*background image bottom*/
main.portfolio ul > img {
  height: 100vh;
  left: -70vw;
  bottom: -20vw;
}
}

@media (min-width: 45em) {
    main.portfolio ul li::before {
        height: 102.3%;
      }
}

@media (min-width: 80em) {
  main.portfolio ul {
    grid-template-columns: 40em 40em;
  }
  main.portfolio ul li,
  main.portfolio ul li::before {
    width: 40em;
    padding: 2em;
  }
  main.portfolio ul li::before {
    margin-left: -2.28em;
    margin-top: -2.28em;
    height: 102%;
  }

  /*section*/
  main.portfolio {
    display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  main.portfolio section {
    /* width: 90vw; */
    position: relative;
    display: grid;
    grid-template-columns: 40em 40em;
    justify-content: center;
  }
  main.portfolio section * {
    width: 40em;
    padding: 2em;
    grid-area: 1/1;
    padding-bottom: 0;
  }
  main.portfolio section h2 {
    width: 40em;
    padding: 0;
    padding-left: 0.95em;
    height: fit-content;
    margin-top: 0;
  }
  main.portfolio section p {
    padding-top: 4em;
    margin-bottom: 5em;
    max-width: 40em;
  }

/*background image top*/
main.portfolio section img {
  top: -30vh;
  height: 190vh;
  width: auto;
  right: -75vw;
}

/*background image bottom*/
main.portfolio ul > img {
  height: 150vh;
  left: -25vw;
  bottom: -30vw;
}
}

@media (prefers-reduced-motion) {
  main.portfolio ul li:hover::before {
    animation: none;
  }
  /* styles to apply if a user's device settings are set to reduced motion */
}