/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
    box-sizing:border-box;  
  }
  
  body {
    margin:0;
  }
  
  button:not([disabled]) {
    cursor:pointer;
  }
  